$highlight-color: #ff6600;
$background-color: #fff;
$secondary-color: rgb(206, 83, 77);
$secondary-background: rgb(245, 237, 227);

$title-font: "Playfair Display", serif;
$text-font: "Open Sans", sans-serif;
