#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  // padding: 0 10vw;

  .about__img {
    padding: 20px;
    display: block;
    flex-basis: 200%;
    max-width: 300px;
    img {
      width: 100%;
      border-radius: 50%;
      min-width: 200px;
    }
  }

  .about__content {
    flex-grow: 1;
    p {
      padding: 0 3vw;
    }
  }
}
@media only screen and (max-width: 600px) {
  #about {
    flex-direction: column;
  }
}
