#skills {
  background: $secondary-background;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  .skills__title {
    text-align: center;
    border-bottom: 2px solid $highlight-color;
  }

  .skills__content {
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 7vw;
    margin-top: 3vh;
  }
  .skills-chart__container {
    position: relative;
    height: 150px;
    min-width: 150px;
    margin-bottom: 1rem;
  }

  .skills-chart__element {
    flex: 1 0 21%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .skills-chart__value {
    position: absolute;
    font-size: 2.3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: calc(50% - 1.15rem);
  }

  .skills-chart__title {
    font-size: 2rem;
    font-family: $title-font;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #skills {
    canvas {
      width: 75px !important;
      height: 75px !important;
    }

    .skills-chart__element {
      flex: 1 0 50%;
    }

    .skills-chart__container {
      height: 75px;
    }

    .skills-chart__value {
      font-size: 23px;
      top: calc(50% - 11.5px);
    }
  }
}
