/*

#F1E0C4,
#FF6600,
#6A7372,
#648285,
#CE534D,
#F1E0C4,
#FF6600,
#6A7372

*/

// * {
//   border: 1px solid rgba(0, 0, 0, 0.3);
// }
@import "reset";
@import "colors";
@import "nav.scss";
@import "about";
@import "skills";
@import "contact";
::selection {
  background: $highlight-color; /* WebKit/Blink Browsers */
  color: white;
}

body {
  min-height: 100vh;
  background: $background-color;
  color: rgb(68, 71, 71);
  font-family: "Karla", sans-serif;
}

header {
  background: url("../img/beach.jpg") fixed padding-box;
  background-size: auto;
  background-position: center;
  height: 350px;
  width: 100%;
  color: $background-color;
  position: relative;
  overflow: hidden;
}
header div {
  height: calc(100% - 172px);
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

header::after,
section::after {
  content: "";
  clear: both;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  border-bottom: 50px solid $background-color;
  border-left: 100vw solid rgba(0, 0, 0, 0);
}
section:nth-child(2n + 1)::after {
  border-bottom-color: $secondary-background;
}
section {
  padding-bottom: 70px;
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
}
body section:last-of-type::after {
  border: none;
}
h1 {
  text-decoration: $highlight-color underline;

  // border-bottom: $highlight-color 2px solid;
  font-size: 5rem;
  margin: 0 0 0 2em;
  font-family: "Poppins", sans-serif;
}

.section__title {
  text-align: center;
  font-family: "Scope One", serif;
  border-bottom: 2px $highlight-color solid;
  margin-bottom: 1rem;
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $highlight-color;
  }

  &:hover::selection {
    background-color: $secondary-color;
    text-decoration: underline;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    border: none;
  }
  header {
    height: 220px;

    div {
      height: auto;
      margin-top: 40px;
    }
  }

  .section__title {
    font-size: 2rem;
    line-break: strict;
  }
}
