html {
  --primary: #1b1719;
  --secondary: #d4d6d5;

  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Source Code Pro", monospace;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  box-shadow: 0 0 1rem #000000b0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .nav-links {
  display: none;
}

.navbar h1 {
  margin: 0;
  padding: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

.menu-toggle-label {
  flex-grow: 1;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .nav-links {
    flex-direction: row;
  }

  .menu-toggle-label {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  #menu-toggle:checked + .nav-links {
    display: flex;
  }
}

.nav-link {
  color: var(--secondary);
  padding: 0 2rem;
  line-height: 4rem;
}
.nav-link:hover {
  background-color: #393d3a;
}

main {
  padding: 0 4vw;
}

.gamelist {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
}

.game-item {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  border: 1px solid #0f0f0fc4;
  box-shadow: 0 0 10px 5px #0f0f0f5e;
  padding: 1rem;
  background-color: var(--primary);
  transition: all 0.6s ease-in-out;
}

.game-item:hover {
  transform: scale(1.2);
}
.game-figure {
  margin: 0;
}

.game-cover {
  margin: auto;
}
.game-title {
  padding-top: 1rem;
  text-align: center;
}
