#about {
  // display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .about__img {
    padding: 20px;
    display: block;
    flex-basis: 200%;
    max-width: 300px;
    float: left;
    shape-outside: circle(50%);

    img {
      width: 100%;
      border-radius: 50%;
      min-width: 200px;
      box-shadow: 0px 0px 19px 0px #ccc;
    }
  }

  .about__title {
    margin-left: 300px;
  }

  .about-title__name {
    text-transform: uppercase;
    font-weight: 700;
  }

  .about-title__greetings {
    font-size: 1.5rem;
    font-style: italic;
  }

  .about__content {
    flex-grow: 1;
  }

  .about__bio {
    padding: 0 0 0 300px;
    position: relative;
    font-size: 1.5em;
    line-height: 1.5rem;
    max-width: 1000px;
    margin: auto;
  }
}
@media only screen and (max-width: 600px) {
  #about {
    flex-direction: column;
    display: flex;
    .about__img {
      float: none;
    }

    .about__title {
      margin-left: 0;
    }
  }
}
